Covid világjárvány kezdete: 2020-03-11

Vége: 2023-05-05

In [1]:
import pandas as pd

In [41]:
def adatcsv(start_date,end_date,countries,delete_columns):
    '''
    beolvassa a csv fájlt és csinál belőle egy pandas adatszerkezetet,

    start_date, end_date stringek yyyy-mm-dd alakban,

    countries egy string lista azon országokból, amiket meg akarunk tartani,
    
    delete_columns string lista azon oszlopokról, amiket ki akarunk törölni
    '''  
    df = pd.read_csv('owid-covid-data.csv')                
    df = df[df["location"].isin(countries)]
    df = df[(df["date"]>=start_date) & (df["date"]<=end_date)]
    df = df.drop(delete_columns, axis=1)

    return df

In [38]:
hu=adatcsv("2020-02-15","2023-12-31",["Hungary"],['iso_code', 'male_smokers', 'female_smokers'])

In [39]:
hu

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,icu_patients_per_million,...,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
149151,Europe,Hungary,2020-02-15,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
149152,Europe,Hungary,2020-02-16,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,-2156.9001,-10.34,-7.78,-221.20758
149153,Europe,Hungary,2020-02-17,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
149154,Europe,Hungary,2020-02-18,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
149155,Europe,Hungary,2020-02-19,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150562,Europe,Hungary,2023-12-27,2226085.0,0.0,48967.0,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
150563,Europe,Hungary,2023-12-28,2226085.0,0.0,48967.0,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
150564,Europe,Hungary,2023-12-29,2226085.0,0.0,48967.0,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
150565,Europe,Hungary,2023-12-30,2226085.0,0.0,48967.0,0.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,NaN,NaN,NaN,NaN
150566,Europe,Hungary,2023-12-31,2227159.0,1074.0,48991.0,24.0,NaN,NaN,NaN,...,7.55,NaN,7.02,76.88,0.854,9967304,39925.3000,7.65,0.07,3931.11000